<h2 class="text-2xl font-semibold text-gray-800">Analytics Overview</h2>

<!-- Analytics Cards -->
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  <!-- Active Users Card -->
  <div class="bg-white p-6 rounded-lg shadow-lg">
    <h3 class="text-lg font-semibold text-gray-800">Active Users</h3>
    <p class="text-2xl text-gray-900 mt-2">350</p>
  </div>

  <!-- Conversion Rate Card -->
  <div class="bg-white p-6 rounded-lg shadow-lg">
    <h3 class="text-lg font-semibold text-gray-800">Conversion Rate</h3>
    <p class="text-2xl text-gray-900 mt-2">12.5%</p>
  </div>

  <!-- Bounce Rate Card -->
  <div class="bg-white p-6 rounded-lg shadow-lg">
    <h3 class="text-lg font-semibold text-gray-800">Bounce Rate</h3>
    <p class="text-2xl text-gray-900 mt-2">45%</p>
  </div>
</div>

<!-- Dummy Analytics Bar Chart -->

<!-- Add a new row with two sections for the graphs -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <!-- Recipe Ratings Chart -->
  <div class="bg-white p-6 rounded-lg shadow-lg">
    <app-graph
    [chartId]="'barChart'"
    [chartType]="'bar'"
    [chartData]="barChartData"
    [chartOptions]="barChartOptions"
  ></app-graph>
  </div>

  <!-- Polar Chart -->
  <div class="bg-white p-6 rounded-lg shadow-lg">
    <app-graph
    [chartId]="'polarChart'"
    [chartType]="'polarArea'"
    [chartData]="polarChartData"
    [chartOptions]="polarChartOptions"
  ></app-graph>
  </div>
